.cart {
    &-price {
        display: flex;
        justify-content: flex-end;
    }

    &-price_value {
        background: #262626;
        border-radius: 5px;
        color: #ffffff;
        padding: 12px 15px;
        display: flex;
    }

    &-price_total {}

    &-price_currency {
        margin-left: 5px;
    }
}