* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;

    .m-has_dialog & {
        overflow: hidden;
    }
}

a,
button {
    cursor: pointer;
    color: inherit;
}

.hide {
    display: none !important;
}