.b-tile {
    background: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    text-decoration: none;

    &-image {
        width: 100%;
        height: 250px;
        object-fit: cover;
    }

    &-details {
        padding: 20px 23px 35px;
        min-height: 275px;
        display: flex;
        flex-direction: column;
    }

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    &-name {
        margin: 0;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
    }

    &-info {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    &-buttons {
        display: flex;
        margin-top: 24px;
        flex-grow: 1;
        align-items: flex-end;
    }

    &-price {
        font-weight: bold;
        font-size: 20px;
        line-height: 32px;
        margin-left: 30px;
    }

    &-ingredients {
        color: #8c8c8c;
        font-size: 18px;
        line-height: 21px;
    }

    &-tag {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #ffffff;
        background: #262626;
        border-radius: 2px;
        padding: 1px 8px;
    }

    &-rating {
        background-image: url("../img/icon/rating.svg");
        background-repeat: no-repeat;
        background-position: 0 7px;
        padding-left: 20px;
        margin-right: 26px;
        color: #ffc107;
        font-weight: bold;
        font-size: 18px;
        line-height: 32px;
    }

    &-price,
    &-category {
        color: #8c8c8c;
        font-size: 18px;
        line-height: 32px;
    }

    &-price {
        margin-right: 10px;

        &:after {
            content: "";
            width: 5px;
            height: 5px;
            background-color: #8c8c8c;
            display: inline-block;
            vertical-align: middle;
            border-radius: 50%;
            margin-left: 10px;
        }
    }


    &-category {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 150px;
    }
}