.b-header {
    padding: 40px 0;
    background: #fff;
    position: sticky;
    top: 0;

    .m-has_dialog & {
        overflow-y: scroll;
    }

    &-inner {
        @include g-section_holder;

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &-buttons {
        display: grid;
        grid-auto-flow: column;
        grid-gap: 10px;
    }

    &-user_name {
        margin-right: 20px;
        font-weight: bold;
        font-size: 18px;
    }
}